*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

body{
    background-color: #0F0F0F;
    overflow-x: hidden;
}

i{
    color:white
}


nav{
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 16px;
}

.one, 
.two, 
.three{
    display: flex;
    align-items: center;
}

.oneb1{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.oneb1:hover{
    background-color: #212121;
}
.oneb1 i{
    font-size: 20px;
}

.one img{
    height: 61px;
    cursor: pointer;
}


.two input{
    width: 535px;
    height: 40px;
    border-radius: 20px 0 0 20px;
    border: 1px solid #ffffff14;
    font-size: 15px;
    padding-left: 15px;
    color: white;
    background-color: transparent;
}

.two input:focus{
    outline: none;
    border: 1px #1C62B9 solid;
}

.twob1{
    height: 40px;
    width: 65px;
    border-radius: 0 20px 20px 0;
    border: 1px solid #ffffff14;
    border-left: none;
    background-color: #ffffff14;
    cursor: pointer;
}
.twob1 i{
    font-size: 20px;
}

.twob2{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-left: 15px;
    border: none;
    background-color: #ffffff14;
    cursor: pointer;
}
.twob2:hover{
    background-color: #212121;
}

.twob2 img{
    filter: invert(1);
    width: 22px;
}

.three button{
    height: 40px;
    background-color: transparent;
}

.threeb1{
    width: 40px;
    border-radius: 50%;
    margin-right: 7px;
    border: none;
    cursor: pointer;
}
.threeb1:active{
    background-color: #3D3D3D;
}
.threeb1 i{
    font-size: 16px;
}

.popup{
    display: none;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 56px;
    right: 113px;
    width: 300px;
    background-color: #272727;
    border-radius: 12px;
    color: white;
    height: 40px;
    padding: 0px 20px;
    cursor: pointer;
}
.popup i{
    font-size: 20px;
}
.popup:hover{
    background-color: #3D3D3D;
}
.popup.show{
    display: flex;
}

.appearance-popup{
    display: none;
    flex-direction: column;
    position: absolute;
    top: 56px;
    right: 113px;
    width: 300px;
    background-color: #272727;
    border-radius: 12px;
    color: white;
    cursor: pointer;
}
.appearance-popup.show{
    display: flex;
}
.appearance-popup .appup{
    display: flex;
    align-items: center;
    height: 48.8px;
    border-bottom: 1.5px solid #535353;
    padding-left: 5px;
    font-size: 16px;
}
.appearance-popup .appup .toprow{
    display: flex;
    gap: 3px;
    height: 40px;
    display: flex;
    align-items: center;
}
.appearance-popup .appup .toprow .appupbackbtn{
    display: flex;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border-radius: 50%;
}
.appearance-popup .appup .toprow .appupbackbtn:hover{
    background-color: #535353;
}
.appearance-popup .appdown{
    height: 148px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.appearance-popup .appdown .msg{
    color: #AAAAAA;
    height: 52px;
    display: flex;
    align-items: center;
    padding-left: 42px;
}
.appearance-popup .appdown .option{
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 5px;
}
.appearance-popup .appdown .option:hover{
    background-color: #525252;
}
.appearance-popup .appdown .option .tick{
    width: 52px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.appearance-popup .appdown .option .tick i{
    font-size: 17px;
}




.threeb2{
    width: 90px;
    height: 35px;
    border-radius: 20px;
    color: #6d9bd6;
    border: 1px solid #3F3F3F;
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 20px;
    background-color: transparent;
    font-weight: bold;
    cursor: pointer;
}
.threeb2:hover{
    background-color: #263850;
}
.threeb2 i{
    font-size: 20px;
    color: #6d9bd6;
}

















main{
    display: flex;
}

.leftsec{
    flex: 0 0 240px;
    width: 240px;
    height: calc(100vh - 56px);
    overflow-y: hidden;
    color: white;
    margin-top: 7px;
    position: fixed;
    z-index: 1000;
    background-color: #0F0F0F;
}
.leftsec:hover{
    overflow-y: auto;
}
.leftsec.mini{
    display: none;
}




/* ============================================================================================= */
.leftsec::-webkit-scrollbar{width: 6px;}
.leftsec::-webkit-scrollbar-track{background: transparent;margin-top: 5px;}
.leftsec::-webkit-scrollbar-thumb{background: #717171;border-radius: 5px;}
.leftsec::-webkit-scrollbar-thumb:hover{background: #909090;}
/* ============================================================================================= */

.lsbox{
    display: flex;
    flex-direction: column;
    padding: 20px 0 16px 16px;
    font-size: 14px;
    border-bottom: 1.5px solid #272727;
}

.ls1{
    padding: 5px 0 10px 16px;
}
.ls11{
    display: flex;
    align-items: center;
    border-radius: 9px;
    height: 40px;
    width: 200px;
    gap: 24px;
    padding-left: 5px;
    border: none;
    cursor: pointer;
}
.ls11:hover{
    background-color: #272727;
}
.ls11 i{
    font-size: 20px;
}
.ls11 img{
    filter: invert(1);
}



.ls21{
    display: flex;
    flex-direction: column;
    gap: 17px;
    padding-left: 14px;
    width: 180px;
    line-height: 20px;
    font-weight: 400;
}


.ls3{
    padding-bottom: 10px;
}
.ls31 .ls11 img{
    width: 25px;
}
.ls31 h3{
    padding-left: 9px;
    margin-bottom: 5px;
    cursor: default;
}
.ls31{
    cursor: pointer;
}


.ls4{
    display: flex;
    padding: 12px 0px 12px 20px;
    font-size: 14px;
}


.ls610{
    padding: 15px 0 0px 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 218px;
    gap: 1px 8px;
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    color: #bdbaba;
    cursor: pointer;
}
.ls211{
    cursor: default;
}















.videosec{
    flex:1;
    /* background-color: red; */
    padding: 16px;
}
.data{
    color:#FAE8E0;
    height: 100%;
}
.playvideo{
    aspect-ratio: 16/9;
    width: 100%;
    display: flex;
}
.playvideo video{
    border-radius: 12px;
}
.videotitle{
    font-size: 17px;
    font-weight: bold;
    padding: 14px 0;
}
.verified{
    width: 12px;
    height: 12px;
}
.ns{
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.ns h3{
    font-size: 17px;
    font-weight: 500;
    
}
.ns p{
    color: #AAAAAA;
    font-size: 12px;
}
.clogo{
    height: 40px;
    width: 40px;
    background-size: cover;
    border-radius: 50%;
    flex-shrink: 0;
}
.subsbtn{
    width: 95px;
    height: 36px;
    border-radius: 18px;
    background-color: #F1F1F1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    color: black;
    margin-left: 14px;
}
.subs{
    display: flex;
    gap: 10px;
}
.videoperf{
    display: flex;
    justify-content: space-between;
}
.like{
    display: flex;
    color: white;
    font-weight: 500;
    gap: 8px;
}
.lkbox{
    display: flex;
    background-color: #272727;
    border-radius: 18px;
    padding: 3px;
    align-items: center;
}
.lkb{
    width: 53px;
    height: 29px;
    background-color: #272727;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}
.thumbsup{
    border-radius: 18px 0 0 18px;
    border-right: 2px solid #5A5A5A;
}
.thumbsup:hover{
    background-color: #474747;
}
.thumbsdown{
    border-radius: 0 18px 18px 0;
}
.thumbsdown:hover{
    background-color: #474747;
}
.share{
    display: flex;
    background-color: #272727;
    align-items: center;
    gap: 7px;
    font-size: 14px;
    padding: 0 16px 0 10px;
    border-radius: 18px;
}
.share img{
    height: 21px;
    filter: invert(1);
}
.share:hover{
    background-color: #474747;
}
.downloadbtn{
    display: flex;
    align-items: center;
    gap: 7px;
    background-color: #272727;
    border-radius: 18px;
    padding: 0 16px 0 10px;
}
.downloadbtn:hover{
    background-color: #474747;
}
.likesetting{
    border-radius: 50%;
    height: 36px;
    width: 36px;
    background-color: #272727;
    display: flex;
    align-items: center;
    justify-content: center;
}
.likesetting:hover{
    background-color: #474747;
}

.viddesc{
    margin-top: 15px;
    background-color: #272727;
    padding: 15px;
    border-radius: 12px;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.viddesc a{
    color: #3EA6FF;
    text-decoration: none;
}
.viddesc:hover{
    background-color: #36330A;
}
.viddesct{
    display: flex;
    gap: 8px;
}
.viddesct p{
    color: #AAAAAA;
}
.viddescd span{
    opacity: 0.3;
}

.comments{
    display: flex;
    gap: 35px;
    padding: 30px 0;
}
.com{
    font-size: 18px;
}
.sortby{
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    gap: 10px;
}
.sortby img{
    height: 24px;
}

.aac{
    display: flex;
    gap: 12px;
    align-items: center;
}
.profilepic{
    height: 25px;
    width: 25px;
    background-image: url("img/demo.jpg");
    border-radius: 50%;
    background-size: cover;
}
.write{
    width: 100%;
}
.write input{
    width: 100%;
    background-color: transparent;
    border: none;
    color: #AAAAAA;
    border-bottom: 1px solid #474747;
    padding: 6px 0;
}
.write input::placeholder{
    color: #AAAAAA;
    font-size: 15px;
}
.write input:focus{
    outline: none;
}














.sugg-vid{
    flex: 0 0 418px;
    width: 418px;
    height: 100vh;
    padding: 16px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.svboxes{
    height: 94.5px;
    display: flex;
    gap: 10px;
    color: #FAE8E0;
}
.sv-title{
    padding-top: 3px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.svboxes h3{
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
}
.svboxes p{
    font-size: 12px;
    color: #AAAAAA;
}
.svboxes img{
    aspect-ratio: 16/9;
    height: 100%;
    border-radius: 10px;
}
.svsetting{
    width: 40px;
    border-radius: 50%;
    margin-right: 7px;
    border: none;
    cursor: pointer;
    height: 40px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.svsetting:hover{
    background-color: #3F3F3F;
}
.svboxes i{
    font-size: 16px;
}
